#more_information_section{
    padding: 100px 0;
    background-color: var(--secondary-color);
    display: flex;
    gap: 100px;
    flex-wrap: wrap-reverse;
}

.more_information_container {
    width: 80%;
    max-width: 90%;
    margin-left: 10rem;
}

.more_information_container h2{
    font-size: 80px;
}