#skill_section {
    padding: 100px 0;
    background-color: var(--light-secondary-color);
    display: flex;
    gap: 100px;
    flex-wrap: wrap-reverse;
}

.skill_bar_container {
    width: 750px;
    max-width: 90%;
    margin-left: 180px;
}

.skill_bar_container h2 {
    font-size: 80px;
}

.skill_bar_container p {
    text-align: justify;
    line-height: 175%;
}

.container{
    width: 100%;
    background-color: #ddd;
    border-radius: 30px;
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    color: var(--text-color);
    border-radius: 30px;
    width: 0%; /* Initial width set to 0% */
    visibility: hidden; /* Initially hidden */
    transition: visibility 0s linear 0.5s, width 0.5s; /* Delay visibility change */
}

.html {
    background-color: var(--main-brand-color);
}

.css {
    background-color: var(--main-brand-color);
}

.js {
    background-color: var(--main-brand-color);
}

.php {
    background-color: var(--main-brand-color);
}


@keyframes html{
    0%{
        width:0%;
    }
    80%{
        width:50%;
    }
}

@keyframes css{
    0%{
        width:0%;
    }
    80%{
        width:80%;
    }
}

@keyframes js{
    0%{
        width:0%;
    }
    80%{
        width:65%;
    }
}

@keyframes php{
    0%{
        width:0%;
    }
    80%{
        width:60%;
    }
}

.animate {
    animation: none;
}

.html.animate {
    animation: html 2s forwards;
}

.css.animate {
    animation: css 2s forwards;
}

.js.animate {
    animation: js 2s forwards;
}

.php.animate {
    animation: php 2s forwards;
}